.todo-item {
    border: solid black;
    width: 300px;
    margin: auto;
    padding: 8px;
    margin-bottom:10px;
    border-radius: 10px;
}
.done-item {
    border: solid black;
    width: 300px;
    margin: auto;
    padding: 8px;
    margin-bottom:10px;
    text-decoration: line-through;
    border-radius: 10px;
}
.delete-button {
    background: bisque;
    float: right;
}
.edit-button {
    float: right;
    margin-left: 5px;
}
.add-button {
    margin-left: 15px;
}